
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border selection:bg-bucksradar-purple/10 selection:text-bucksradar-purple;
  }
  
  body {
    @apply bg-bucksradar-dark text-foreground antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .link-button {
    @apply relative w-full py-3 px-6 rounded-lg font-medium text-white 
    bg-secondary flex items-center justify-between 
    transition-all duration-300 hover:translate-y-[-2px] hover:shadow-lg
    hover:bg-opacity-90 animate-fade-in opacity-0;
    animation-delay: calc(var(--index) * 100ms);
    animation-fill-mode: forwards;
  }

  .primary-button {
    @apply bg-gradient-button border border-bucksradar-purple/20;
  }
}
